.event_form {
	background: #1d2022;
	min-height: 100vh;
	padding: 20px 100px 100px;
}
.form {
	width: 600px;
}
.checkboxes {
	display: flex;
}
.title {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 0;
	margin: 50px 0 20px;
}
.checkboxes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 50px;
	position: relative;
}
.submit_button {
	margin-top: 50px;
}
.hidden_input {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
@media (max-width: 800px) {
	.form {
		width: 100%;
	}
}
@media (max-width: 550px) {
	.event_form {
		padding: 20px 20px 100px;
	}
	.checkboxes {
		grid-template-columns: 1fr;
	}
}
