%margins {
	width: 1170px;
	margin: 0 auto;
}
%padding {
	padding: 150px 0;
}
%flex_columns {
	display: flex;
	flex-direction: column;
}
.h2 {
	color: white;
	font-weight: 500;
	font-size: 48px;
	line-height: 60px;
	span {
		color: #8e8e8e;
	}
}
.band__img {
	@extend %margins;
}
.imgfullscreen {
	width: 100%;
}
.img {
	width: 1170px;
	margin: 0 auto;
}
.img img {
	width: 100%;
	border-radius: 10px;
}

.general__band {
	@extend %margins;
	z-index: 1;
}

.section_general {
	width: 100%;
	height: 830px;
	margin: 0 auto;
	@extend %flex_columns;
	position: relative;
}
.section_general__bg {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.general__button_new {
	display: none;
}
.inside_general {
	z-index: 2;
	margin: 10px 0 30px;
	@extend %flex_columns;
	align-items: center;
	h1 {
		font-weight: 600;
		font-size: 72px;
		line-height: 84px;
		text-align: center;
		color: #fff;
		margin-bottom: 20px;
	}
	.text {
		width: 40%;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		color: #8e8e8e;
		margin-bottom: 70px;
	}
}
.columnsvgBN {
	margin-top: 80px;
}
.video {
	margin: 200px 0;
	display: flex;
	justify-content: center;
}
.modes {
	margin: 150px 0 0;
	.section {
		@extend %margins;
		padding-left: 30px;
		margin-bottom: 70px;
	}
	.cards_greed {
		@extend %margins;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}
	.cards_greed_cell {
		padding: 45px;
		background-color: #101010;
		border-radius: 5px;
	}
	p {
		margin-top: 30px;
		width: 80%;
	}
}
.blast_wave_grid {
	@extend %margins;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	margin: 150px auto 90px auto;
	h2 {
		margin-bottom: 35px;
	}
	p {
		margin-bottom: 30px;
		height: 100px;
	}
	img {
		max-width: max-content;
		width: 100%;
	}
}
.active_exploit {
	margin-top: -100px;
	position: relative;
	z-index: 2;
	margin-bottom: 150px;
	h2 {
		width: 600px;
		margin: 0 auto 90px auto;
		text-align: center;
	}
}
.active_exploit_grid {
	width: 775px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.ae_grid_cell {
	background-color: #101010;
	padding: 35px 30px 50px 40px;
}
.collaps_design_adaptive {
	display: none;
}
.collaps_design {
	height: 984px;
	width: 100%;
	position: relative;
	overflow: hidden;
	.collaps_design_bg {
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.collaps_design_content {
		width: 970px;
		margin: 0 auto;
		@extend %padding;
		position: relative;
		z-index: 2;
	}
	.collaps_design_title {
		color: #070707;
		width: 25%;
		margin-bottom: 35px;
	}
	.collaps_design_text {
		width: 35%;
	}
}
.hit_indication {
	margin-top: 100px;
	.hit_indication__text {
		transform: translateY(65px);
		position: relative;
		z-index: 2;
		@extend %margins;
		section {
			width: 800px;
			h2 {
				margin-bottom: 35px;
			}
		}
	}
	.hit_indication__image {
		img {
			width: 100%;
		}
	}
}
.timeofday {
	background-color: #000;
	@extend %padding;
	section {
		@extend %margins;
		margin-bottom: 100px;
		h2 {
			margin-bottom: 25px;
		}
	}
	.before_after_image_responsive {
		display: none;
	}
	.timeofday_image {
		width: 100%;
	}
	.before_after {
		width: 1170px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.before_after__modes {
		display: block;
		text-align: center;
		img {
			margin-bottom: 10px;
		}
	}
}
.control_block_outside {
	background-color: #fff;
}
.control_block__img {
	width: auto;
	img {
		width: 100%;
	}
}
.control_block {
	padding: 150px 0;
	@extend %margins;
	.control_block_section {
		h2 {
			text-align: center;
			color: #212121;
			margin-bottom: 35px;
		}
		p {
			width: 550px;
			margin: 0 auto 15px auto;
			text-align: center;
		}
	}
}
.slider {
	margin: 0 auto 175px auto;
	section {
		width: 550px;
		margin: 0 auto;
		text-align: center;
	}
}
.empty {
	flex: 1;
}
.slider_cards {
	@extend %margins;
}
$drag-colour: #fff;

.cocoen {
	box-sizing: border-box;
	cursor: pointer;
	line-height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	user-select: none;

	* {
		box-sizing: inherit;

		&::after,
		&::before {
			box-sizing: inherit;
		}
	}

	img,
	picture > img {
		max-width: none;
	}

	> img,
	> picture > img {
		display: block;
		width: 100%;
	}

	> div {
		&:first-child,
		picture & {
			height: 100%;
			left: 0;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 50%;
		}
	}

	&-drag {
		background: $drag-colour;
		bottom: 0;
		cursor: ew-resize;
		left: 50%;
		margin-left: -1px;
		position: absolute;
		top: 0;
		width: 2px;

		&::before {
			border: 3px solid $drag-colour;
			content: "";
			height: 30px;
			left: 50%;
			margin-left: -7px;
			margin-top: -18px;
			position: absolute;
			top: 50%;
			width: 14px;
		}
	}
}

@media (max-width: 1200px) {
	%margins {
		width: auto;
		padding: 0 20px;
	}
	.general__band {
		width: 100%;
	}
	.img {
		width: auto;
	}
	.control_block {
		padding: 100px 20px;
	}
	.timeofday {
		.before_after {
			display: none;
		}
		.before_after_image_responsive {
			display: block;
			margin: 0 50px;
		}
		.before_after {
			width: auto;
			padding: 0 20px;
		}
	}
}
@media (max-width: 992px) {
	.collaps_design_adaptive {
		display: block;
		background-color: #fff;
		.adaptive__text {
			padding: 40px 20px;
			width: 75%;
			h2 {
				color: black;
				margin-bottom: 35px;
			}
			p {
				color: #8e8e8e !important;
			}
		}
		.adaptive__img {
			width: 100%;
		}
	}
	.timeofday {
		.before,
		.after {
			img {
				width: 379px;
				height: 183px;
			}
		}
	}
	.hit_indication {
		.hit_indication__text {
			transform: translateY(0);
			section {
				width: auto;
				padding: 0 20px;
			}
		}
		.hit_indication__image {
			img {
				width: 100%;
			}
		}
	}
	.collaps_design {
		display: none;
	}
	.inside_general {
		h1 {
			font-size: 50px;
			line-height: 65px;
		}
		p {
			padding: 0 20px;
			width: auto;
			margin-bottom: 50px;
		}
	}
	.modes {
		.cards_greed {
			grid-template-columns: 1fr 1fr;
		}
		p {
			margin-top: 30px;
			width: 100%;
		}
	}
	.blast_wave_grid {
		grid-template-columns: 1fr;
		margin-bottom: 50px;
		p {
			width: 75%;
		}
	}
	.active_exploit_grid {
		width: auto;
	}
}
@media (max-width: 768px) {
	.blast_wave_grid {
		margin-bottom: 20px;
		p {
			height: auto;
			margin-bottom: 50px;
			width: auto;
		}
	}
	.timeofday {
		.before,
		.after {
			img {
				width: 575px;
				height: 276px;
			}
		}
		.before_after__modes {
			display: none;
		}
	}

	.active_exploit {
		margin-bottom: 100px;
		h2 {
			width: auto;
			margin: 0 auto 50px auto;
		}
	}
}
@media (max-width: 576px) {
	.columnsvgBN {
		margin-left: 20px;
		margin-right: 20px;
	}
	.video {
		margin: 100px 0;
	}
	.band_rainbow {
		height: 500px;
		margin-bottom: 50px;
		position: relative;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: -50%;
			width: 200%;
		}
	}
	.collaps_design_adaptive {
		.adaptive__text {
			width: auto;
		}
	}
	.timeofday {
		padding: 100px 0;
		section {
			margin-bottom: 20px;
		}
		.before,
		.after {
			img {
				width: 360px;
				height: 173px;
			}
		}
	}
	.screen {
		h2 {
			font-size: 30px;
			line-height: 40px;
			width: auto !important;
		}
	}
	.section_general {
		height: 500px;
	}
	.inside_general {
		h1 {
			font-size: 35px;
			line-height: 45px;
		}
		.text {
			width: 90%;
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 30px;
		}
		.general__button {
			display: none;
		}
	}
	.general__button_new {
		margin-top: 30px !important;
		display: block;
		margin: 0 auto;
	}
	.active_exploit_grid {
		grid-template-columns: 1fr;
		margin-left: 20px;
		margin-right: 20px;
	}
	.modes {
		margin: 100px 0 50px;
		.cards_greed {
			margin-left: 20px;
			margin-right: 20px;
			padding: 0;
			grid-template-columns: 1fr;
		}
		.cards_greed_cell {
			padding: 40px 30px;
		}
	}
	.control_block {
		.control_block_section {
			p {
				width: auto !important;
			}
		}
	}
	.control_block__img {
		width: auto;
		margin: 50px 0;
		img {
			width: 100%;
		}
	}
}
