@import "../default";

.emotions {
	background-color: $white;
}
.title {
	@extend %page_grid;
	padding-top: 65px;
	padding-bottom: 65px;
	@extend %title;
	color: $black;
}
.cell {
	display: grid;
	grid-template-columns: 7fr 12fr;
	grid-template-areas: "content image";
	height: 630px;
	position: relative;
	overflow: hidden;
	margin: 0 20px 10px;
	border-radius: 20px;
}
.button_1 {
	margin-right: 50px;
}
.cell__image {
	position: relative;
	grid-area: image;
}
.image_responsive {
	position: relative;
	display: none;
	height: 440px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}
.icons_cell__img_out {
	margin: 0 0 10px;
	padding: 20px;
	border: 1px solid #8e8e8e;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65px;
	height: 65px;
}
.icons_cell__img {
	max-width: 24px;
	max-height: 24px;
}
.cell__title {
	font-family: $font-1;
	font-weight: 600;
	font-size: 48px;
	line-height: 50px;
	text-transform: uppercase;
	margin: 0 0 20px;
	span {
		color: #0090ff;
	}
}
.cell__text {
	font-family: $font-1;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 45px;
}
.icons_cell__text {
	font-family: $font-1;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	height: 70px;
}
.content {
	padding: 60px 40px 60px 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-area: content;
}
.content_dark {
	.cell__title {
		color: $white;
	}
	.cell__text {
		color: #fff;
	}
	.icons_cell__text {
		color: #fff;
		font-weight: 500;
	}
}

.content_light {
	.cell__title {
		color: $black;
	}
	.cell__text {
		color: #040e18;
	}
	.icons_cell__text {
		color: #040e18;
		font-weight: 600;
	}
}
.icons_grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 550px;
	grid-gap: 20px;
}
.buttons {
	display: flex;
	align-items: center;
}
@media (max-width: 1600px) {
	.cell {
		height: 500px;
		grid-template-columns: 5fr 7fr;
	}
	.cell__title {
		font-size: 36px;
		line-height: 45px;
	}
	.cell__text {
		font-size: 16px;
		line-height: 22px;
	}
	.icons_cell__text {
		font-size: 13px;
		line-height: 18px;
	}
	.content {
		padding: 25px 23px 43px;
	}
}
@media (max-width: 1218px) {
	.cell__image {
		display: none;
	}
	.image_responsive {
		display: block;
	}
	.cell {
		height: auto;
		display: flex;
		flex-direction: column;
	}
	.cell__title {
		margin-bottom: 10px;
		br {
			display: none;
		}
	}
	.cell__text {
		br {
			display: none;
		}
	}
	.image_responsive {
		margin-bottom: 50px;
	}
	.icons_grid {
		margin-bottom: 50px;
	}
}
@media (max-width: 600px) {
	.buttons {
		flex-direction: column;
		align-items: flex-start;
	}
	.button_1 {
		margin-bottom: 20px;
	}
	.icons_cell__img_out {
		width: 80px;
		height: 80px;
	}
	.icons_cell__img {
		max-width: 38px;
		max-height: 38px;
	}
}
@media (max-width: 550px) {
	.icons_grid {
		grid-template-columns: 1fr;
	}
	.cell {
		margin: 0 0 20px;
	}
	.icons_cell {
		display: flex;
		align-items: center;
	}
	.icons_cell__img_out {
		margin: 0;
	}
	.icons_cell__text {
		height: auto;
		margin-left: 42px;
		font-size: 18px;
		line-height: 24px;
	}
	.button_1 {
		width: 100%;
	}
	.button_2 {
		width: 100%;
	}
	.title {
		padding-top: 35px;
		padding-bottom: 50px;
	}
	.cell__title {
		font-size: 28px;
		line-height: 35px;
	}
	.cell__text {
		font-size: 18px;
		line-height: 24px;
	}
	.content {
		padding: 50px 14px;
	}
}
