.input_land_out {
	width: 100%;
	position: relative;
	overflow-x: hidden;
}
.input_out__outer {
	position: relative;
}
.input_land {
	width: 1170px;
	margin: 0 auto;
	background: #151516;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	.title {
		font-weight: 500;
		font-size: 32px;
		line-height: 34px;
		color: #ffffff;
		margin-bottom: 8px;
	}
	.text {
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: #ffffff;
		margin-bottom: 30px;
	}
	.left {
		padding: 50px 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.content {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
	}
	.right {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
	.input_out {
		width: 100%;
		position: relative;
	}
	.error_icon {
		position: absolute;
		right: 15px;
		top: 15px;
	}
	.error {
		margin: -15px 0 15px 5px;
		color: #ff3323;
		position: absolute;
		bottom: -10px;
		z-index: 3;
		font-size: 12px;
	}
	.input {
		width: 100%;
		margin-bottom: 22px;
		padding: 18px 16px;
		background: #212121;
		border-radius: 5px;
		outline: 0;
		border: 0;
		color: white;
	}
	.input:focus {
		background: #000000;
	}
	.input:last-child {
		margin-bottom: 0;
	}
	.button {
		cursor: pointer;
		outline: 0;
		border: 0;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		background-color: #0090ff;
		padding: 8px 35px;
		border-radius: 100px;
		display: flex;
		align-items: center;
	}
	.button:hover {
		color: #000;
		background-color: #0090ff;
	}
}
.input_land_light {
	width: 1170px;
	margin: 0 auto;
	background: #fff;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	.title {
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		color: #000000;
		margin-bottom: 8px;
	}
	.text {
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #71757a;
		margin-bottom: 30px;
	}
	.left {
		padding: 50px 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.content {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
	}
	.right {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
	.input_out {
		width: 100%;
		position: relative;
	}
	.error_icon {
		position: absolute;
		right: 15px;
		top: 15px;
	}
	.error {
		margin: -15px 0 15px 5px;
		color: #ff3323;
		position: relative;
		z-index: 3;
		font-size: 12px;
	}
	.input {
		width: 100%;
		margin-bottom: 22px;
		padding: 18px 16px;
		background: #f0f0f0;
		border-radius: 5px;
		outline: 0;
		border: 0;
		color: #71757a;
	}
	.input:focus {
		background: #d1d1d1;
		color: #000;
	}
	.input:last-child {
		margin-bottom: 0;
	}
	.button {
		cursor: pointer;
		outline: 0;
		border: 0;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		background-color: #0090ff;
		padding: 8px 35px;
		border-radius: 100px;
		display: flex;
		align-items: center;
	}
	.button:hover {
		color: #000;
		background-color: #0090ff;
	}
}
.agreement {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	padding-bottom: 20px;
	.agreement_dot_button {
		cursor: pointer;
		padding: 0;
		margin-right: 20px;
		outline: 0;
		border: 0;
		height: max-content;
		background-color: rgba(255, 255, 255, 0);
		.dot {
			fill: #212121;
		}
	}
	.agreement_dot_button_active {
		padding: 0;
		cursor: pointer;
		margin-right: 20px;
		outline: 0;
		border: 0;
		height: max-content;
		background-color: rgba(255, 255, 255, 0);
		.dot {
			fill: #0090ff;
		}
	}
	.agreement__text {
		text-align: left;
		font-weight: normal;
		font-size: 12px;
		line-height: 18px;
		color: #8e8e8e;
		a {
			color: #0090ff;
		}
		a:hover {
			color: #005ca3;
		}
	}
}

@media (max-width: 1200px) {
	.input_land {
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
	.input_land_light {
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
}
@media (max-width: 1000px) {
	.input_land {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		height: 800px;
	}
	.input_land_light {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		height: 800px;
	}
}
@media (max-width: 576px) {
	.input_land {
		height: 700px;
		.left {
			padding: 60px 30px 70px 40px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	.input_land_light {
		height: 700px;
		.left {
			padding: 60px 30px 70px 40px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.title {
			font-size: 24px;
			line-height: 28px;
		}
		.text {
			font-size: 12px;
			line-height: 14px;
		}
	}
}
