@import "../default";

.gain {
	padding-top: 150px;
	padding-bottom: 150px;
}
.top {
	@extend %page_grid;
}
.slider {
	cursor: url("/LPNew/rofl.svg") 50 35, auto;
}
.title {
	@extend %title;
	margin-bottom: 30px;
}
.text {
	font-family: $font-1;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 100px;
}
.cell {
	padding: 0 93px;
	* {
		pointer-events: none;
	}
}
.cell__image {
	margin-bottom: 30px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.cell__name {
	font-family: $font-1;
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	text-transform: uppercase;
	color: #000000;
	margin: 0 0 20px;
}
.cell__title {
	font-family: $font-1;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
}
.cell__subtitle {
	font-family: $font-1;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #4f4f4f;
}
.cell__info {
	display: flex;
	align-items: center;
}
.cell__flag {
	width: max-content;
	height: max-content;
	margin-right: 10px;
}
@media (max-width: 1800px) {
	.cell {
		padding: 0 0 0 93px;
	}
}
@media (max-width: 1600px) {
	.cell {
		padding: 0 0 0 43px;
	}
}
@media (max-width: 800px) {
	.cell__image {
		margin-bottom: 20px;
	}
	.cell__name {
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.cell__title {
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 5px;
	}
	.cell__subtitle {
		font-size: 10px;
		line-height: 10px;
	}
	.cell__flag {
		width: 25px;
		height: 25px;
	}
	.text {
		margin-bottom: 50px;
		br {
			display: none;
		}
	}
	.gain {
		padding-top: 85px;
		padding-bottom: 85px;
	}
}
@media (max-width: 550px) {
	.cell {
		padding: 0 0 0 16px;
	}
}
