.shotlight {
    // position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 867px;
    // position: relative;
}

.content {
    z-index: 2;
}

.title {
    margin-top: 257px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #8e8e8e;
    z-index: 2;
    max-width: 450px;

    .span_blue {
        color: #0090ff;
    }
}

.image {
    // display: block;
    position: relative;
    // height: 867px;
}

.text {
    margin-top: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #8e8e8e;
    z-index: 2;
    max-width: 400px;
}

@media (max-width: 992px) {
    .shotlight {
        height: 580px;
    }
    .title {
        margin-top: 157px;
        max-width: 400px;

        .span_blue {
            color: #0090ff;
        }
    }
}
