@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

$font-1: "Manrope", sans-serif;
// colors
$black: #000000;
$white: #fff;
$grey: #8c8c8c;
$bg-color: #edeef0;

$transition-1: all 0.3s ease-in-out;
$transition-2: all 0.5s ease-in-out;

%page_grid {
	padding-right: 100px;
	padding-left: 100px;
}

%padding {
	padding: 0 100px;
}

%title {
	font-family: $font-1;
	font-weight: 600;
	font-size: 60px;
	line-height: 65px;
	text-transform: uppercase;
	margin: 0;
	span {
		color: #0090ff;
	}
}
@media (max-width: 1600px) {
	%title {
		font-size: 48px;
		line-height: 55px;
	}
	%page_grid {
		padding-right: 43px;
		padding-left: 43px;
	}
}
@media (max-width: 800px) {
	%title {
		font-size: 35px;
		line-height: 40px;
		br {
			display: none;
		}
	}
}
@media (max-width: 550px) {
	%page_grid {
		padding-right: 17px;
		padding-left: 17px;
	}
}
