
.image_text {
  background-color: #070707;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 45px 45px 70px 45px;
  text-align: left;
}
.image_text svg {
  margin-bottom: 30px;
}
.image_text .text {
  color: #8e8e8e;
}
.image_text h3 {
  margin: 0;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 35px;
}
