.feels_recoil {
    position: relative;
    background-color: #070707;
}

.feels_recoil_black {
    background-color: #000;
}

.title {
    margin-top: 150px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.25em;
    text-align: center;
    color: #0090ff;
}

.has_text_centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin-top: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66em;
    text-align: center;
    color: rgba(196, 196, 196, 0.8);
    max-width: 775px;
}

.video {
    margin-top: 73px;
    width: 100%;
}

.title_white {
    margin-top: 150px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.25em;
    text-align: center;
    color: #fff;
}

.blue {
    color: #0090ff;
}

.image {
    padding: 0 20px;
    margin-top: 80px;
    position: relative;
    height: 600px;
}
@media (max-width: 992px) {
    .image {
        height: 600px;
    }
}

@media (max-width: 768px) {
    .has_text_centered {
        padding: 0 20px;
    }
    .text {
        font-size: 14px;
    }
    .title {
        margin-top: 50px;
        font-size: 28px;
    }
    .title_white {
        margin-top: 50px;
        font-size: 28px;
    }
    .video {
        margin-top: 52px;
    }
    .image {
        margin-top: 80px;
        position: relative;
        height: 400px;
    }
}
@media (max-width: 992px) {
    .image {
        margin-top: 80px;
        position: relative;
        height: 700px;
    }
}
@media (max-width: 768px) {
    .image {
        height: 500px;
    }
}
@media (max-width: 575px) {
    .image {
        height: 340px;
    }
}
