.container {
    width: 1170px;
    margin: 0 auto;
}

.feels_recoil {
    position: relative;
}

.feels_recoil_black {
    background-color: #000;
}

.title {
    margin-top: 150px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #0090ff;
}

.has_text_centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin-top: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: rgba(196, 196, 196, 0.8);
    max-width: 775px;
}

.video {
    margin-top: 73px;
}

.title_white {
    margin-top: 150px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #fff;
}

.blue {
    color: #0090ff;
}

.image {
    margin-top: 80px;
    position: relative;
    height: 787px;
}
