@import "../default";

.develop {
	@extend %page_grid;
	padding-top: 150px;
	padding-bottom: 150px;
	display: grid;
	grid-template-columns: 9fr 3fr;
	grid-gap: 40px;
}
.title {
	@extend %title;
	margin-bottom: 85px;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
}
.cell__number {
	width: 65px;
	height: 65px;
	font-family: $font-1;
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
	margin-bottom: 30px;
	border: 1px solid #8e8e8e;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cell__title {
	font-family: $font-1;
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
	margin-bottom: 20px;
	span {
		color: #0090ff;
	}
}
.cell__text {
	font-family: $font-1;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #4f4f4f;
}
.lil_image {
	margin-left: 50px;
}
.lil_block {
	border-left: 2px solid #c4c4c4;
}
.lil_title {
	font-family: $font-1;
	font-weight: 500;
	font-size: 36px;
	line-height: 40px;
	text-transform: uppercase;
	color: #0090ff;
	margin: 0 0 10px;
}
.lil_text {
	font-family: $font-1;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #4f4f4f;
	margin: 0 0 55px;
}
.lil_content {
	padding-left: 65px;
}
@media (max-width: 1600px) {
	.develop {
		grid-template-columns: 6fr 3fr;
	}
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 1100px) {
	.develop {
		grid-template-columns: 1fr 1fr;
	}
	.grid {
		grid-template-columns: 1fr;
		grid-gap: 50px;
		margin-bottom: 85px;
	}
}
@media (max-width: 800px) {
	.develop {
		grid-template-columns: 1fr;
		padding-top: 85px;
		padding-bottom: 85px;
	}
	.title {
		margin-bottom: 50px;
	}
	.lil_block {
		border-left: 0;
	}
	.lil_content {
		padding-left: 0;
	}
	.lil_image {
		margin-left: 0;
		margin-bottom: 30px;
	}
	.lil_text {
		margin: 0 0 50px;
	}
}
