%margins {
    width: 1170px;
    margin: 0 auto;
}

.fade_animation {
    animation-duration: 8000ms;
    animation-timing-function: linear;
    animation-name: fade_animation;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    will-change: scale;
}

@keyframes fade_animation {
    0% {
        top: 0;
        right: 0;
        scale: 1;
    }

    100% {
        top: 18%;
        right: 18%;
        scale: 1.5;
    }
}

.fade_animation_left {
    animation-duration: 4000ms;
    animation-timing-function: linear;
    animation-name: fade_animation_left;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    will-change: scale;
}

@keyframes fade_animation_left {
    0% {
        left: 50%;
    }

    100% {
        left: 54%;
    }
}

.fade_animation_right_mob {
    animation-duration: 4000ms;
    animation-timing-function: linear;
    animation-name: fade_animation_right_mob;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    will-change: scale;
}

@keyframes fade_animation_right_mob {
    0% {
        left: 50%;
    }

    100% {
        left: 54%;
    }
}

.fade_animation_left_mob {
    animation-duration: 4000ms;
    animation-timing-function: linear;
    animation-name: fade_animation_left_mob;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    will-change: scale;

}

@keyframes fade_animation_left_mob {
    0% {
        left: 50%;
    }

    100% {
        left: 44%;
    }
}

.fade_animation_right {
    animation-duration: 4000ms;
    animation-timing-function: linear;
    animation-name: fade_animation_right;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes fade_animation_right {
    0% {
        left: 50%;
    }

    100% {
        left: 44%;
    }
}

.fade_animation_scale {
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-name: fade_animation_scale;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    will-change: scale;
}

@keyframes fade_animation_scale {
    0% {
        scale: 1;
        left: 50%;
    }

    100% {
        scale: 1.1;
        left: 53%;
    }
}

.fade_animation_scale_2 {
    animation-duration: 5000ms;
    animation-timing-function: linear;
    animation-name: fade_animation_scale_2;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    will-change: scale;
}

@keyframes fade_animation_scale_2 {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.1;
    }
}

.main {
    position: relative;
    height: 810px;
    display: flex;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-bottom: 81px;
}

.main_title { 
    margin-top: 50px;
    text-align: center;
    font-family: 'Zen-Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 176px;
    line-height: 1.2em;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    color: white;
    filter: blur(0.25px);
    z-index: 3;
}

.bg_granade {
    position: absolute;
    top: 110px;
    left: 50%;
    height: 425px;
    width: 254px;
    transform: translateX(-50%);
    z-index: 20;
}

.bg_big_cloud {
    position: absolute;
    top: 250px;
    left: 50%;
    height: 427px;
    width: 807px;
    transform: translateX(-50%);
    z-index: 10;
}

.bg_two_clouds {
    position: absolute;
    top: 421px;
    left: 50%;
    height: 395px;
    width: 955px;
    transform: translateX(-50%);
    z-index: 12;
}

.right_upper_cloud {
    position: absolute;
    top: 280px;
    left: 50%;
    height: 143px;
    width: 272px;
    transform: translateX(-80%);
    z-index: 12;
}

.left_upper_cloud {
    position: absolute;
    top: 280px;
    right: 50%;
    height: 160px;
    width: 230px;
    transform: translateX(5%);
    z-index: 12;
}

.left_upper_cloud_mob {
    display: none;
}

.right_upper_cloud_mob {
    display: none;
}

.bg_asteroid {
    position: absolute;
    top: 0;
    right: 0;
    height: 63.24px;
    width: 134.18px;
    z-index: 2;
}

@media (max-width: 1200px) {
    .content {
        padding: 0 20px 81px 20px;
    }

    .main_title {
        font-size: 158px;
    }

    .bg_asteroid {
        display: none;
    }
}

@media (max-width: 992px) {
    .main_title {
        font-size: 128px;
    }

    .bg_asteroid {
        display: none;
    }

    .bg_big_cloud {
        transform: translateX(-49%);
    }
}

@media (max-width: 800px) {
    .main_title {
        font-size: 100px;
    }

    .bg_granade {
        top: 90px;
    }
}

@media (max-width: 650px) {
    .main_title {
        font-size: 80px;
    }

    .bg_big_cloud {
        transform: translateX(-48%);
    }
}

@media (max-width: 500px) {

    .main {
        height: 590px;
    }

    .content {
        padding-bottom: 41px;
    }

    .main_title {
        font-size: 54px;
    }

    .bg_granade {
        top: 120px;
        height: 300px;
        width: 290px;
    }

    .bg_big_cloud {
        top: 242px;
        height: 260px;
        width: 500px;
    }

    .right_upper_cloud {
        display: none;
    }

    .right_upper_cloud_mob {
        display: block;
        position: absolute;
        top: 250px;
        left: 50%;
        height: 90px;
        width: 130px;
        transform: translateX(20%);
    }

    .left_upper_cloud {
        display: none;
    }

    .left_upper_cloud_mob {
        display: block;
        position: absolute;
        top: 250px;
        left: 50%;
        height: 90px;
        width: 170px;
        transform: translateX(-100%);
        z-index: 12;
    }

    .bg_two_clouds {
        top: 341px;
        height: 180px;
        width: 450px;
    }
}