%margins {
    width: 1170px;
    margin: 0 auto;
}

.fade_animation {
    animation-duration: 15000ms;
    animation-timing-function: linear;
    animation-name: fade_animation;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    will-change: scale;
}

@keyframes fade_animation {
    0% {
        top: 0;
        right: 0;
    }

    100% {
        top: 18%;
        right: 18%;
    }
}

.fade_animation_scale {
    animation-duration: 5000ms;
    animation-timing-function: linear;
    animation-name: fade_animation_scale;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    will-change: scale;
}

@keyframes fade_animation_scale {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.04;
    }
}

.fade_animation_scale_2 {
    animation-duration: 5000ms;
    animation-timing-function: linear;
    animation-name: fade_animation_scale_2;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    will-change: scale;
}

@keyframes fade_animation_scale_2 {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.1;
    }
}

.main {
    position: relative;
    height: 810px;
    display: flex;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-bottom: 81px;
}

.main_title {
    margin-top: 50px;
    text-align: center;
    font-family: 'Zen-Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 176px;
    line-height: 1.2em;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    color: white;
    filter: blur(0.25px);
    z-index: 3;
}

.bg_granade {
    position: absolute;
    top: 110px;
    left: 50%;
    height: 449px;
    width: 441px;
    transform: translateX(-50%);
    z-index: 20;
}

.bg_big_cloud {
    position: absolute;
    top: 382px;
    left: 50%;
    height: 342px;
    width: 805px;
    transform: translateX(-50%);
    z-index: 10;
}

.bg_two_clouds {
    position: absolute;
    top: 421px;
    left: 50%;
    height: 395px;
    width: 955px;
    transform: translateX(-50%);
    z-index: 10;
}

.bg_two_upper_cloud {
    position: absolute;
    top: 271px;
    left: 50%;
    height: 264px;
    width: 583px;
    transform: translateX(-50%);
    z-index: 10;
}

.bg_asteroid {
    position: absolute;
    top: 0;
    right: 0;
    height: 63.24px;
    width: 134.18px;
    z-index: 2;
}

@media (max-width: 1200px) {
    .content {
        padding: 0 20px 81px 20px;
    }

    .main_title {
        font-size: 158px;
    }
}

@media (max-width: 992px) {
    .main_title {
        font-size: 128px;
    }

    .bg_asteroid {
        display: none;
    }
}

@media (max-width: 800px) {
    .main_title {
        font-size: 100px;
    }

    .bg_granade {
        top: 90px;
    }

    
}

@media (max-width: 650px) {
    .main_title {
        font-size: 80px;
    }
}

@media (max-width: 500px) {

    .main {
        height: 590px;
    }

    .content {
        padding-bottom: 41px;
    }

    .main_title {
        font-size: 54px;
    }

    .bg_granade {
        top: 90px;
        height: 361px;
        width: 361px;
    }

    .bg_big_cloud {
        top: 262px;
        height: 260px;
        width: 450px;
    }

    .bg_two_upper_cloud {
        top: 271px;
        height: 120px;
        width: 350px;
    }

    .bg_two_clouds {
        top: 341px;
        height: 180px;
        width: 450px;
    }
}