.line {
    stroke-width: 2px;
    stroke-linecap: round;
    fill: white;
}

.circle {
    stroke-width: 0px;
    fill: white;
}

.line_mob {
    stroke-width: 1px;
    stroke-linecap: round;
    fill: white;
}

.circle_mob {
    stroke-width: 0px;
    fill: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    position: absolute;
    top: -28px;
    right: 140px;

    .icons {
        position: relative;
        display: flex;
        flex-direction: column;

        .pin {
            width: 150px;
            height: 32px;
        }

        .pointer {
            position: absolute;
            top: 60px;
            left: 80px;
            width: 64px;
            height: 64px;
        }
    }
}

.content_laptop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    position: absolute;
    top: -228px;
    right: -90px;

    .icons {
        order: 2;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 35px;

        .pin {
            width: 120px;
            height: 42px;
            order: 2;
        }

        .pointer {
            width: 64px;
            height: 64px;
            transform: rotate(-180deg);
            order: 1;
        }
    }

    .block_descr {
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 330px;
        padding: 20px 20px;
        border: 2px solid #FFFFFF;
        border-radius: 30px;

        .block_text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.16em;
            letter-spacing: 0.02em;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

.content_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: absolute;
    top: -180px;
    right: 50%;
    transform: translateX(38%);

    .icons {
        order: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .pin {
            height: 50px;
            order: 1;
        }

        .pointer {
            width: 42px;
            height: 42px;
            order: 2;
        }
    }
}

.block_descr {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 330px;
    width: 320px;
    padding: 20px 20px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;


    .block_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.16em;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
    }
}