@import "../default";

.stats {
	@extend %page_grid;
	padding-top: 50px;
	padding-bottom: 85px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: auto;
}
.cell {
	display: flex;
	align-items: center;
}
.cell_image {
	width: 107px;
	height: 107px;
	margin-right: 40px;
}
.cell_content {
}
.cell_title {
	font-family: $font-1;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	color: #202020;
	margin: 0 0 10px;
}
.cell_text {
	font-family: $font-1;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #8e8e8e;
	margin: 0;
}
@media (max-width: 1400px) {
	.stats {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 850px) {
	.stats {
		grid-template-columns: 1fr;
		padding-top: 85px;
	}
}
