.main {
    position: relative;
    padding: 121px 0 110px 0;
    border-radius: 20px;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title_wrap {
    display: flex;
    justify-content: flex-start;
    width: 676px;
}

.title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.36em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
    max-width: 472px;
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.image_laptop {
    display: none;
}

.image_mob {
    display: none;
}

.cell_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px 120px;
    max-width: 676px;
    margin-top: 42px;

    .cell {
        display: flex;
        flex-direction: column;
        gap: 14px;
        font-family: 'Manrope';
        font-style: normal;

        .number {
            font-weight: 700;
            font-size: 50px;
            line-height: 1.36em;
            text-transform: uppercase;
            color: #0090FF;
        }

        .text {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.35em;
            color: #FFFFFF;
        }
    }
}

@media (max-width: 1200px) {
    .main {
        padding: 121px 20px 110px 20px;
    }
}

@media (max-width: 1024px) {
    .content {
        align-items: flex-start;
    }

    .cell_wrapper {
        gap: 22px 54px;
    }

    .image {
        display: none;
    }

    .image_laptop {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 115px 10px 115px 10px;
    }

    .cell_wrapper {
        grid-template-columns: 1fr;
        gap: 22px 120px;
        margin-top: 53px;
    }

    .title_wrap {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .image_laptop {
        display: none;
    }

    .title {
        font-size: 30px;
    }

    .image_mob {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}