.bottom_logo {
    padding: 195px 0 195px 0;
}

.bottom_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons_price {
    margin-top: 24px;
}

@media (max-width: 768px) {
    .bottom_logo {
        padding: 90px 0 90px 0;
    }
}
@media (max-width: 575px) {
    .bottom_logo {
        padding: 40px 20px;
    }
}
