.main {
    background-color: #0F1822;
    padding: 87px 0 100px;
    border-radius: 20px;
}

.text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.36em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    .main {
        padding: 87px 20px 100px;
    }
}

@media (max-width: 900px) {
    .text {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .main {
        border-radius: 0;
    }
}