%margins {
	width: 1170px;
	margin: 0 auto;
}
%title {
	font-weight: 500;
	font-size: 48px;
	line-height: 60px;
	width: 100%;
}
%flex_columns {
	display: flex;
	flex-direction: column;
}
.screen {
	background-color: #000000;
	h2 {
		color: white;
		font-weight: 500;
		font-size: 48px;
		line-height: 60px;
	}
	span {
		color: #8e8e8e;
	}
	.imgfullscreen {
		width: 100%;
	}
}
.buttons {
	margin: 0 auto;
	width: max-content;
	display: flex;
	align-items: center;
	.price_button {
		margin-right: 80px;
	}
}
.section_general {
	position: relative;
	height: 1350px;
	margin: 0 auto;
	@extend %flex_columns;
}
.inside_general {
	@extend %flex_columns;
	position: relative;
	z-index: 2;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 60%,
		rgba(255, 255, 255, 0) 100%
	);
	h1 {
		margin: 0 auto 20px;
		width: max-content;
		text-align: center;
		font-size: 24px;
		line-height: 28px;
		font-weight: 400;
		color: rgba(196, 196, 196, 0.8);
	}
}
.ms_logo {
	margin-bottom: 120px;
}
.empty {
	flex: 1;
}
.ms_screen_two {
	margin: 100px auto;
	width: 1000px;
	@extend %margins;
	p {
		font-weight: 500;
		font-size: 48px;
		line-height: 60px;
		text-align: center;
		color: #ffffff;
	}
}
.ms_screen_two__image {
	position: relative;
	overflow: hidden;
}
.animatedIndication {
	margin-top: 100px;
	@extend %margins;
	h2 {
		width: 690px;
		margin-bottom: 35px;
	}
	p {
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		color: #8e8e8e;
		width: 875px;
		margin-bottom: 60px;
	}
}
.cards {
	@extend %margins;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	.cards__img {
		overflow: hidden;
	}
	.cards__img img {
		width: 100%;
		height: 100%;
		border-radius: 6px;
		object-fit: cover;
	}
}
.cards__text_block {
	background-color: #101010;
	padding: 46px 38px 46px 32px;
	border-radius: 5px;
}
.indication_grid {
	@extend %margins;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	margin-bottom: 100px;
}
.indication_grid__cell {
	background-color: #101010;
	padding: 45px 45px 75px 45px;
	border-radius: 5px;
}
.scenarios_grid {
	@extend %margins;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.scenarios_grid__cell {
	background-color: #101010;
	padding: 40px 50px 65px 40px;
	border-radius: 5px;
}
.phoneSection {
	padding: 60px 0;
	background-color: #101010;
}
.phoneSection_title {
	@extend %margins;
	h2 {
		padding-left: 50px;
		margin-bottom: 70px;
		width: 685px;
	}
}
.speaker {
	padding: 100px 0;
	@extend %margins;
	h2 {
		padding-left: 50px;
		margin-bottom: 70px;
	}
}

.slider {
	width: 800px;
	margin: 0 auto 70px auto;
}
.position {
	@extend %margins;
	h2 {
		width: 780px;
		margin-bottom: 35px;
	}
	p {
		width: 780px;
		margin-bottom: 70px;
	}
}
@media (max-width: 1200px) {
	%margins {
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
	.section_general {
		height: 850px;
	}
	.ms_screen_two {
		padding-left: 20px;
		padding-right: 20px;
	}
	.indication_grid {
		margin-right: 20px;
		margin-left: 20px;
	}
	.ms_logo {
		margin-bottom: 100px;
	}
}
@media (max-width: 992px) {
	.slider {
		width: auto;
		margin: 0 auto 50px auto;
	}
	.section_general {
		height: 650px;
	}
	.ms_logo {
		width: 90%;
		margin-left: 20px;
		margin-right: 20px;
	}
	.inside_general {
		transform: translateY(100px);
	}
	.ms_screen_two {
		margin-top: 200px;
	}
	.animatedIndication {
		h2 {
			width: auto;
		}
		p {
			width: auto;
		}
	}
	.indication_grid {
		grid-template-columns: 1fr 1fr;
	}
	.position {
		h2 {
			width: auto;
		}
		p {
			width: auto;
		}
	}
	.cards {
		margin-bottom: 110px;
		grid-template-columns: 1fr;
	}
}
@media (max-width: 768px) {
	.indication_grid {
		padding: 0;
		grid-template-columns: 1fr;
	}
	.scenarios_grid {
		padding: 0;
		grid-template-columns: 1fr;
	}

	.ms_screen_two {
		margin: 100px auto;
		margin-top: 200px;
		p {
			font-weight: 500;
			font-size: 36px;
			line-height: 46px;
		}
	}
	.phoneSection_title {
		padding-top: 50px;
		h2 {
			margin-bottom: 50px;
			width: auto;
		}
	}

	.screen {
		h2 {
			font-weight: 500;
			font-size: 35px;
			line-height: 40px;
			margin-bottom: 50px;
			padding-left: 0;
		}
	}
}
@media (max-width: 576px) {
	.ms_screen_two {
		margin-top: 400px;
	}
	.buttons {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.price_button {
			margin: 0 0 30px 0;
		}
	}
	.ms_logo {
		margin-bottom: 50px;
	}
	.speaker {
		.cards {
			margin: 0;
		}
	}
	.screen {
		h2 {
			font-size: 25px;
			line-height: 35px;
			margin-bottom: 25px;
		}

		.imgfullscreen {
			width: 100%;
			margin-left: 0;
		}
	}
	.inside_general {
		transform: translateY(300px);
	}
	.section_general {
		height: 450px;
	}
}
